#Info #map {
  float: right;
  margin-left: 20px;
}

ul {
  width: fit-content;
  text-align: left;
  margin: auto;
}

#maplink {
  display: none;
}

#Info .break {
  display: none;
}

.anchor {
  position: relative;
  top: -65px;
}

#Info button {
  display: block;
}

.highlight {
  border: 6px double green;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
  font-size: 1.2em;
}

@media only screen and (max-width: 950px) {
  .anchor {
    top: -50px;
  }

  .page {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .anchor {
    top: -35px;
  }

  .page {
    padding-top: 35px;
  }

  .highlight {
    font-size: 0.92em;
  }
}


@media only screen and (max-width: 500px) {

  .anchor {
    top: -65px;
  }

  #map {
    display: none;
  }

  #maplink {
    display: block;
  }

  .highlight {
    font-size: 0.72em;
  }
}




@media only screen and (max-width: 420px) {

  #Info br {
    display: block;
  }

}