html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin-top: 0px;
  font-family: "Bree Serif", sans-serif;
}

button {
  font-family: "Bree Serif";
  width: fit-content;
  font-size: 16pt;
  margin: 30px auto;
  padding: 4px 8px;
  cursor: pointer;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 500px;
}

.page {
  padding: 65px 30px 0px 30px;
  margin: auto;
  max-width: 800px;
  margin: auto;
}

.App {
  font-family: "Copse";
  text-align: center;
}

@font-face {
  font-family: 'Dancing Script';
  src: local('Dancing Script'), url('./assets/fonts/dancing-script.regular.ttf'), format('truetype');
}

@font-face {
  font-family: 'Raleway Regular';
  src: local('Raleway Regular'), url('./assets/fonts/raleway.regular.ttf'), format('truetype');
}

@font-face {
  font-family: 'Bree Serif';
  src: local('Bree Serif'), url('./assets/fonts/bree-serif.regular.otf'), format('opentype');
}

@font-face {
  font-family: 'Copse';
  src: local('Copse'), url('./assets/fonts/copse.regular.ttf'), format('opentype');
}



@media only screen and (max-width: 950px) {
  .page {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .page {
    padding-top: 35px;
  }
}

@media only screen and (max-width: 500px) {

  .page {
    padding-top: 65px;
  }

  img {
    width: 100%;
  }
}