.Navbar {
  background-color: rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 65px;

}

.Navbar .menu {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Navbar.mobile .menu {
  position: fixed;
  top: 65px;
  right: 0px;
  width: 95%;
  margin: 0px 10px;

  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.Navbar.mobile .menu a {
  justify-content: flex-end;
  padding-bottom: 5px;
  font-size: 20pt;
}

.Navbar a,
.Navbar .icon {
  color: white;
}

.Navbar a,
.Navbar .icon {
  display: flex;
  align-items: center;
  color: #aeaeae;
  text-decoration: none;
  margin: 0px 10px;
  height: 100%;

  font-family: "Bree Serif", sans-serif;
  font-size: 16pt;
  letter-spacing: 2px;

  cursor: pointer;
}

.Navbar.mobile a {
  height: auto;
}

.Navbar a:hover,
.Navbar .icon:hover {
  color: #FFFFFF;
}

.Navbar #logo {
  font-family: 'Dancing Script';
  letter-spacing: 0.1pt;
  font-size: 28pt;
  height: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  padding: 0px 15px 0px 20px;
}

.Navbar.mobile {
  display: none;
}

.Navbar .icon {
  margin-right: 10px;
  font-size: 20pt;
}

.Navbar .dropdown {
  position: relative;
  display: inline-block;
}

.Navbar .dropdown-content {
  display: none;
  position: absolute;
  left: -8px;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  padding: 0px 12px 16px 12px;
  z-index: 1;
  white-space: nowrap;
}

.Navbar .dropdown-content a {
  margin: 6px;
}

.Navbar .dropdown:hover .dropdown-content {
  display: block;
}

.Navbar.mobile .spacer {
  margin: 10px
}



@media only screen and (max-width: 950px) {
  .Navbar {
    height: 50px;
  }

  .Navbar #logo {
    font-size: 20pt;
  }

  .Navbar a {
    font-size: 12pt;
  }
}

@media only screen and (max-width: 650px) {
  .Navbar {
    height: 35px;
  }

  .Navbar #logo {
    font-size: 16pt;
  }

  .Navbar a {
    font-size: 8pt;
  }
}

@media only screen and (max-width: 500px) {

  .Navbar {
    display: none;
  }

  .Navbar.mobile {
    display: flex;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .Navbar.mobile .menu {
    background-color: rgba(0, 0, 0, 0.85);
    height: fit-content;
    align-items: center;
  }

  .Navbar #logo {
    font-size: 30pt;
  }

}

@media only screen and (max-width: 350px) {
  .Navbar #logo {
    display: none;
  }

  .Navbar.mobile {
    justify-content: flex-end;
  }

}